name: CI

on:
  push:
    branches:
      - main
    workflow_dispatch:  # позволяет запускать вручную


jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
          fetch-depth: 0

    - id: deploy
      name: Deploy to dokku
      uses: dokku/github-action@master  # ← ОФИЦИАЛЬНЫЙ action!
      with:
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
          git_remote_url: ssh://dokku@dokku.siricrm.ru:22/dtb
          git_push_flags: '--force'
